.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fcfcfc; 
    justify-content: center;
  }
  
  img.header-logo {
    width: 10%; 
    height: 10%;
    object-fit: contain; 
    margin-right: 10px; /* Pitää kuvan ja tekstin erillään */
  }
  
  .header-title {
    font-size: 48px;
    color: #333; 
  }
  