.product-form-container {
    display: flex;
    flex-direction: column;
    width: 220px; 
    margin: 0 auto;
  }
  
  .product-row, .quantity-row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
  }
  
  .quantity-row span {
    margin: 0 10px;
  }
  
  h2 {
    text-align: center; 
  }
  
  h4 {
    margin: 0;
    padding: 0;
  }
  
  select, button {
    padding: 5px;
  }
  
  button {
    margin: 0 5px; 
    
  }

  .button {
     background-color: rgb(172, 137, 204);
  }